@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0px;
    background-color: #9E66FF;
}

h1, h2 , h3 , h4, a, p{
    font-family: Montserrat;
}

.header{
    background-color: rgba(200, 165, 165, 0.65);

    margin-left: 100px;
    

    width: 250px;
    height: 100vh;

}

.header__since{
    font-family: Montserrat;
    font-weight: 200;
    font-size: 19px;
}

.header__img{
    width: 130px;
    border-radius: 100px;
}

.header__links{
    text-decoration: none;
    font-family: Montserrat;
    color: black;
    font-weight: 200;
    font-size: 23.5px;

}

header{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column  ;
    justify-content: space-evenly;
    align-items: center;
}
.header__navi{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.info__header{
    background-image: url('/images/main bg.png');
    height: 120vh;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.info__text{
    display: inline-block;
    margin: 35px 550px;

    padding: 5px 60px;
    border-radius: 25px 0 25px 0;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 40px;
    color: #6A8758;
    background-color:   #D9D9D9;
}

.container{
    max-width: 1600px;
    margin-left: 18.5%;

}

.banner{
    font-family: Montserrat;
    border-radius: 15px;
    position: absolute;
    display: inline-block;
    background-color: #9CB89C;
    font-weight: 250;
    

}


.python{
    padding: 10px 50px;
    
    font-size: 30px;
    
    left: 40%;
    top: 21%;
    transform: rotate(30deg);
}

.vue{
    font-size: 35px;
    left: 70%;
    padding: 10px 45px;
    top: 20%;
    transform: rotate(-25deg);
}

.html{
    font-size: 32px;
    left: 53%;
    padding: 10px 70px;
    font-weight: 400; 
    top: 50%;
    transform: rotate(15deg);
}
.node{
    font-size: 30px;
    padding: 10px 50px;
    font-weight: 200;
    left: 70%;
    top: 45%;
    transform: rotate(20deg);
}
.react{
    font-size: 31px;
    padding: 10px 45px;
    font-weight: 300;
    left: 34%;
    top: 45%;
    transform: rotate(-15deg);
}

.css{
    font-size: 32px;
    padding: 10px 55px;
    font-weight: 200;
    left: 36%;
    top: 66%;
    transform: rotate(10deg);
}
.js{
    font-size: 29px;
    padding: 10px 45px;
    font-weight: 300;
    left: 72%;
    top: 70%;
    transform: rotate(-20deg);

}
.angular{
    font-size: 35px;
    font-weight: 300;
    padding: 10px 55px;
    left: 45%;
    top: 80%;
    transform: rotate(-5deg);
}
.skills__container{
    
    margin-top: 100px;
    height: 800px;
    background-color: #ACD7A2;

}
.skills__text{
    font-size: 50px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 50px auto;
    padding-top: 20px;
    width: 300px;
}
.skills__info{
    background-color: rgba(138, 138, 138, 0.6);
    width: 400px;
    height: 225px;
    border-radius: 30px;
    transition: 1s;
    
    
}
.skills__container-flexed{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 90px 200px;
    
}
.disc{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 25px;
    padding-bottom: 0;
    border-bottom: black 1px solid;
    width: 130px;
    margin-left: 20px;
}
.skills__img{
    width: 60px;
    display: inline;
}
.skills__info-flexed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.classes{
width: 120px;
}
.skills__texty{
    font-size: 18px;
    font-weight: 300;
    margin-left: 10%;
}

.portfolio__bg{
    z-index: -99;
    left: -105px;
    width: 2000px;
    position:absolute ;

}
.portfolio{
    
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 100px 200px;
    display: flex;
    margin-top: 150px;
    height: 800px;
}


.portfolio__img{
    transition: 1s;
    text-align: center;
    height: 325px;
    width: 550px;
    background-color: rgba(217, 217, 217, 0.5);;
    z-index: 9990;
    border-radius: 50px;
    border: #000 solid 1px;
}
.portfolio__text{
    margin-top: 140px;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 200;
}
.portfolio__info{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 200;
    background-color: #D9D9D9;
    display: inline;
    margin: 100px 550px;
    padding: 10px 90px;
    border-radius: 0px 40px 0px 40px;
}
.portfolio__container{
    margin-top: 100px;
}
.da1{
    background-image: url('images/d1.png');
}
.da2{
    background-image: url('images/da2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    margin-top: 200px;
    background-color: black;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    gap: 300px;
    align-items: center;
}

.footer * p{
    font-family: Montserrat;
    color: white;
    font-weight: 200;
    font-size: 20px;
}
.footer__logo{
    width: 120px;
    border-radius: 200px;
}
.footer__block1{
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-right: 1px white solid;
    gap: 20px;
    height: 70%;
    width: 200px;

}
.footer__block2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
}
.links__block{
    display: inline-block;
}

.skills__info:hover{
    transform: scale(1.1);
    background-color: rgba(244, 22, 22, 0.3);
    

}

.portfolio__img:hover{
    transform: scale(1.1);
}

.footer__links:hover{
    transform: scale(1.2);
    
}
.footer__links{
    transition: 1s;
}
a{
    text-decoration: none;
}